ol{

    background-color: yellow;

}

ol li:nth-child(2n){

    color: green;

}

ol li:nth-child(2n + 1){

    text-transform: uppercase;

}

.header{

    background-color: red;

}

.header.italic{

    font-size: 40px;
    border: 1px;
    border-color: black;
    border-style: solid;
    
}

li{

    font-size: 20px;

}

li em{

    font-weight: 900;
}

ul li.first{

    color: blue;

}

ul li.java{

    background-color: pink;

}

ul.website li a:nth-of-type(1):link, li:nth-of-type(1):visited, li:nth-of-type(1):active {

    text-decoration: none;

}


ul.website li a:nth-of-type(1):hover {

    text-decoration: underline;
    color: orange;

}
