.super-mario {

    width: 100px;
    left: 110px;
    margin-top: 5px;
    z-index: 1;
    position: absolute;

}
  
.goomba {

    width: 70px;
    position: absolute;
    left: 120px;
    margin-top: 160px;
    z-index: 2;

}
  
.baloon {

    width: 180px;
    left: 550px;
    position: absolute;
    margin-top: -300px;
    z-index: 3;
  
}
  
.speach {

    font-size: 18px;
    left: 585px;
    z-index: 4;
    width: 70px;
    margin-top: -285px;
    position: absolute;

}
  
.bowser {

    width: 250px;
    left: 750px;
    margin-top: 60px;
    z-index: 5;
    position: relative;
    
}